.svn
*.pyc
*.orig
*.rej
*.o
*.a
*.dylib
*.so
*.DS_Store
*.h~
*.cpp~
*.in~
*.Po
*.debhelper
autom4te.cache
config.h
config.log
config.status
.sconf_temp
.sconsign.dblite
.deps
.dirstamp
stamp-h
stamp-h1
build-stamp
Makefile
Makefile.in
build
